        <div>
            <p>Copyright© <%=new Date().getFullYear()%> Write-a-Blog Inc.</p>
        </div>
        <div>
            <p>
                <a href="/contact" id ="link">Help</a>
            </p>
        </div>
    </body>
</html>