<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Write-a-Blog</title>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <div>
            <h2>Welcome to </h2>
            <h1> Write-a-Blog</h1>
        </div>
        <div id = "buttons">
            <form action="/" method="get">
                <button>Home</button>
            </form>
            <form action="/blog_posts" method="get">
                <button>Blog Posts</button>
            </form>
            <form action="/new_post" method="get">
                <button>New Post</button> 
            </form>
            <form action="/faq" method="get">
                <button>FAQ</button>
            </form>
            <form action="/about" method="get">
                <button>About</button>
            </form>
            <form action="/contact" method="get">
                <button>Contact</button>
            </form>
        </div>
