<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Write-a-Blog</title>
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id ="welcome_banner">
            <h2 id ="banner1">Welcome to </h2>
            <h1 id ="banner2"> Write-a-Blog</h1>
        </div>
        <div id = "header_buttons">
            <form action="/" method="get">
                <button>Home</button>
            </form>
            <form action="/blog_posts" method="get">
                <button>Blog Posts</button>
            </form>
            <form action="/new_post" method="get">
                <button>New Post</button> 
            </form>
            <form action="/faq" method="get">
                <button>FAQ</button>
            </form>
            <form action="/about" method="get">
                <button>About</button>
            </form>
            <form action="/contact" method="get">
                <button>Contact</button>
            </form>
        </div>
 