<%-include("partials/header.ejs")%>
<h2>Head Developer</h2>
<h3>Spencer Campbell</h3>
<img src="/images/placeholder.png">
<p> 
    Im an independent web develolper who enjoys coding, gaming, game design and development,
    I made this blog site, so that I and others can write about their own unique perspetives and 
    build a community together.
</p>
<%-include("partials/footer.ejs")%>
