<%-include("partials/header.ejs")%>
<h2 id ="page_header">Developers</h2>
<h3>Spencer Campbell</h3>
<h4>Head Developer</h4>
<img src ="/images/placeholder.png">
<p id ="personal_summary"> 
    I'm an independent web developer who enjoys coding, gaming, game design and development,
    I made this blog site, so that I and others can write about their own unique perspectives and 
    build a community together.
</p>
<%-include("partials/footer.ejs")%>
