<%-include("partials/header.ejs")%>
<form action ="/contact" method ="post"> 
    <input type="text" placeholder="Email" name ="email">
    <textarea placeholder="Questions or Comments"></textarea>
    <button>Submit</button>
</form>
<%-include("partials/footer.ejs")%>
