<%-include("partials/header.ejs")%>
<h2 id="page_header">Contact Me</h2>
<form id ="create_post" action ="/contact" method ="post"> 
    <input class ="input" type="text" placeholder="Email" name ="email">
    <textarea class="ask" placeholder="Questions or Comments"></textarea>
    <button class="submit">Submit</button>
</form>
<%-include("partials/footer.ejs")%>
