<%-include("partials/header.ejs")%>
<h2 id="page_header">Frequently Asked Questions</h2>
<div id ="questions">
    <h2>Who am I?</h2>
    <h3>I am just an independent developer.</h3>
    <h2>Who is allowed to post here?</h2>
    <h3>Anyone is allowed to write blog posts.</h3>
    <h2>What can I post on this site?</h2>
    <h3>Almost anything you want provided the posts don't go against out terms of service, we strive to be a family friendly platform.</h3>
    <h2>Are posts moderated?</h2>
    <h3>Yes we have moderators that read each post and remove content that goes against our policies.</h3>
    <h2>Who can I contact for support?</h2>
    <h3>Fill out the form here, <a href="contact" id ="link"> contact </a>, someone will reply within 3 business days.</h3>
</div>
<%-include("partials/footer.ejs")%>
