<%-include("partials/header.ejs")%>
<h2> A place for people to write long-form content about their passions </h2>
<div id="search">
    <form action ="/blog_post" method ="get">
        <input type="text" placeholder="Find-a-Blog">
        <button>Search</button>
    </form>
</div>
<div id="post">
    <form action ="/new_post" method ="get">
        <button>Write-a-Post</button>
    </form>
</div>
<%-include("partials/footer.ejs")%>
