<%-include("partials/header.ejs")%>
<div id = "create_post">
    <form id = "create_post" action ="/submit" method ="post">
        <input class="title input" type="text" placeholder="Title" name ="title">
        <input class= "author input" type="text" placeholder="Author" name ="author">
        <textarea class="text" placeholder="Write-a-Post" name="body"></textarea>
        <button class="submit">Submit</button>
    </form>
</div>
<%-include("partials/footer.ejs")%>
