<%-include("partials/header.ejs")%>
<form action ="/submit" method ="post">
    <input type="text" placeholder="Title" name ="title">
    <input type="text" placeholder="Author" name ="author">
    <textarea placeholder="Write-a-Post" name="body"></textarea>
    <button>Submit</button>
</form>
<%-include("partials/footer.ejs")%>
